<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/cloud.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <style>
        p,a{
            font-size: 20px ;
            color: gray;
            text-decoration: none;
            margin-top: 50px;
        }
        a:hover{

        }
    </style>
</head>

<body class="container">
    <div id="header">
        {{>header}}
        <p>Do you want any help <a href="https://www.google.com/search?q=weather&rlz=1C1CHBD_enIN904IN904&oq=weather&aqs=chrome..69i57j35i39j0l2j69i60l4.9767j1j7&sourceid=chrome&ie=UTF-8">clik here!</a></p>
    </div>
    <div class="footer">
        {{>footer}}
    </div>
</body>

</html>